
#mainDiv{
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.leftDiv {

    width: 275px;
    height: 950px;
    background-color: rgb(13, 53, 79);
    color: aliceblue;
    /* display: ; */
    
    /* justify-content: center; */
    
 
    img{
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-left: 25px;
        border-radius: 50%;
        border: 5px solid black;
    }
    #name {
        /* border: 1px solid black; */
        padding: 10px 20px 30px 30px;
        height: 30px;
        font-size: x-large;
        span{
            color: gold;
            
        }
        border-bottom: 2px solid black;
       
 
 

    }
        
    
    
}
.rightDiv{
    
    width: 500px;
    height: 950px;
    background-color: rgb(212, 215, 216);
    color: rgb(7, 12, 16);
    
    
  
}
.list{
    display: grid;
    list-style-type: none; 
    gap: 5px;
    color: rgb(128, 129, 129);
    .classSpan{
    font-size: large;
    color: aliceblue;
    }   
}
#s,#s1,#s2,#s3{
    font-size: 15px;
    color: burlywood;
}
h1{
        margin-left:10px; ;
}
p{
        margin-left: 10px;
        text-size-adjust: calc(12px);
}
/* #d1{
    border: 1px solid red;
    width: 498px;
    height: 649px;
    display: flex;
}         
*/
table{
    margin-left: 10px;
    h3{
        color:rgba(0, 0, 255, 0.694);
    }
}
 