*{
    margin: 0;
    padding: 0;
}

#main{
    
}


#leftsidebar{
    width: 200px;
    height: 900px;
    background-color:rgb(4, 48, 86);
    vertical-align: top;

}
#rightsidebar{
    width: 400px;
    height: 900px;
    background-color:rgb(154, 156, 158);
    vertical-align: top;
    
}
img{
    width: 76px;
    height: 80;
    border-radius: 50%;
    horizontal align
        
}
