*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(191, 183, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  
}


.box{
    width: 400px;
    /* height: 400px; */
    background-color: #fff;
    padding: 60px;
    border-radius: 10%;
    box-shadow: 20px 20px 20px  rgb(0, 0,0,1) ;
}
h1{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(79, 79, 200);
}
label{
    display:block;
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 5px;
}
input{

    font-size: 20px;
    height: 30px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
button{
    width: 100%;
    height: 40px;
    font-size:20px;
    padding: 5px;
    background-color:rgb(138, 138, 242);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: #fff;
    color: rgb(78, 78, 144);
}