*{
    margin: 0;
    padding: 0;
}

#maindiv{
    background-color: blue;
    height: 100vh;
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: end;
}

.form{
    border: 1px solid black;
    background-color: #fff;
    height: fit-content;
    width: 25%;
    display: grid;
    gap: 20px;
    padding: 20px;
    margin-bottom: 150px;
    border-radius: 20px;

}
input{
    border: none;
}
button{
    background-color: blue;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
button:hover{
    background-color: #fff;
    color: blue;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

input:focus-within{
    outline: none;
}
.form-field{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

