body{
    background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
}
#mainbox{
    /* border: 1px solid black; */
    width: 300px;
    height: 300px;
    padding: 20px 10px;
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(1, 0, 8);
    color: rgb(35, 22, 156);
    
}
#loginForm{

 text-align: center;
 
       
}
button{
    border: 1px solid rgb(164, 164, 68); 
    border-radius: 8px;
    background-color: rgb(164, 164, 68);
    color: aliceblue;
  
}
input{
    border-radius: 2px;
    color:rgb(248, 241, 241);
    background-color:rgb(5, 6, 4);
}
.form{
 color: brown;
 
 
}
