@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


h1{
    background-color: rgba(191, 255, 0, 0.018);
    color: rgba(188, 65, 4, 0.921);
    text-align: center;
    font-family:"Dancing Script", cursive;
    font-size: 100px;
    font-weight:500;
    font-style:italic;
    font-variant: small-caps;
    /* border:10px dashed rgb(193, 27, 96) */
    border: 10px solid rebeccapurple;
    /* border-image: url(../Multipagewebsite/pic\ jeetu.jpeg) 30 round; */
    border-radius: 10px;
}

img{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 50%;
    object-fit:cover;
}
