/* #dabba{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position:absolute;
    /* animation: dabba 3.4s infinite; */
    /* img{
         width: min-content;
    }
} */
/* 
@keyframes  dabba {
    0%{
        top:0px;
        left: 0px;
    }
    25%{
        top:0px;
        left: 300px;
    }
     50%{
        top:300px;
        left: 300px;
    }
     75%{
        top:300px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}  */

.motion{
    width: 89px;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
    position: absolute;
    overflow: hidden;
    
    
}
h1{
    /* margin-top: 0px; */
    animation: motion 5s ease-in-out infinite;
}
@keyframes motion {
    from{
        margin-top: 300px;
        color: rgb(247, 138, 5);
    }
    to{
        margin-top: -300px;
        color: rgb(222, 42, 29);
    }
}